.nav-item {
  color: white;
  background-color: rgb(39,79,114);
  text-align: center;
}
.img {outline-color: white;
  height: 40px;
}
.navbar {
  background-color: rgb(39,79,114);
  text-align: center;
  color: white;
}
.navbar-brand {
  background-color: rgb(39,79,114);
  text-align: center;
  color: white;
}
.nav {
  background-color: rgb(39,79,114);
  text-align: center;
  color: white;
}