.jumbotron {
    height: 25; 
    clear: "both"; 
    margin-top: 25;
    color: aliceblue; 
    text-align: center;
    background-color: rgb(104,183,76);
}
/* style={{ height: 300, clear: "both", paddingTop: 120, textAlign: "center" }} */
