.jumbotron {
    margin-top: 25px;
    color: white; 
    text-align: center;
    background-color: rgb(104,183,76);
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    font-size: 30px;
}
