.container {
    max-width: 75%;
    margin-bottom:25px;
    margin-top:25px;
    background-position: center;
}
.user-input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 2px;
}
#user,#members,#wod,#scores,#workouts,#logworkout {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white; 
    background-color: rgb(104,183,76);
    padding: 20px;
    border-radius: 5px;
}
.recent-workout-column {
    text-align: center;
}
.nav-link {
    color: white;
}
.nav-item {
    color: white;
}

p {
    padding: 4px;
    margin: 0px;
}
.dropdown {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white; 
    background-color: rgb(39,79,114);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.div-wod-score {
    margin-left: 5px;
    margin-right: 5px;
    color: white; 
    background-color: rgb(39,79,114);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.wod-score-title {
    color: white; 
    background-color: rgb(39,79,114);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.wod-score-input {
    color:rgb(39,79,114);
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border-color: white;
    background-color: rgb(39,79,114);
}
.log-workouts {
    color: white; 
    background-color: rgb(104,183,76);
    border-radius: 5px;
}
.submit-movement {
    margin: 10px;
    background-color: rgb(39,79,114);
    border-radius: 5px;
    padding: 2px;
    border-color: white;
    color: white; 
  } 
.row {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}
.datepicker {
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
}
.login {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(104,183,76);
    border-radius: 5px;
    border-color: white;
    color: white; 
}  
table, tbody, thead {
    width: 100%;
    
}
th {
    color: white;
    background-color:rgb(39,79,114);
    padding: 0%;
    font-size: 14px;
    text-align: Left;
    margin: 5px;
    width: 5%;
}
td {
    color: white;
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    margin: 5px;
    width: 5%;
}
tr {
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    width: 100%;
}
.table-labels {
    color: rgb(39,79,114);
    font-size: 16px;
    font-weight: bolder;
    margin-right: 2px;
}
.btn-submit {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(39,79,114);
    border-radius: 5px;
    border-color: white;
    color: white; 
    padding: 4px;
  }  