.container {
    max-width: 90%;
    margin-bottom:25px;
    margin-top:25px;
    background-position: center;
}
header {
  margin-bottom: 20px;
}
#edit-score {
  margin-top: 20px;
}

.user-input {
   width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}
#user,#members,#wod,#scores,#workouts,.log-workout,.div-wod-score {
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    border: solid 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    font-size: 12px;
}
.card {
  background: white;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
    border-radius: 5px;
    border: solid 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
.textintro h1 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.nav-link {
    color: white;
}
.nav-item {
    color: white;
}
p {
    padding: 0px;
    margin: 0px;
}
.dropdown {
    margin-bottom: 15px;
    /* margin-left: 5px; */
    margin-right: 10px;
    color: white; 
    background-color: rgb(39,79,114);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.wod-score-title {
    color: white; 
    background-color: rgb(39,79,114);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.wod-score-input {
    color:rgb(39,79,114);
    background-color: white;
    border-radius: 5px;
    width: 35%;
    margin-left: 5px;
    margin-right: 5px;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border-color: white;
    background-color: rgb(39,79,114);
}
.log-workouts {
    border-radius: 5px;
}
.submit-movement {
    background-color: rgb(39,79,114);
    border-radius: 5px;
    padding: 2px;
    border-color: white;
    color: white; 
    margin-top: 10px;
  } 
.row {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    
}
.datepicker {
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
}
.login {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(39,79,114);
    border-radius: 5px;
    border-color: white;
    color: white; 
}  

  .datepicker {
    border-radius: 5px;
    margin-left: 10px;
    width: 15%;
    background-color: black;
    background-image: url(https://img.icons8.com/ios-filled/50/ffffff/calendar.png);
  }
  .workout-row {
    border-bottom: solid black 2px;
  }

  .rounded-circle {
    border: solid 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    height: 75px;
    width: 75px;

  }
  .material-icons .large  {
    color: rgb(39,79,114);
  }
  
 

  