.container {
    max-width: 75%;
    margin-bottom:25px;
    margin-top:25px;
    background-position: center;
}
.user-input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 2px;
}
#user,#members,#wod,#scores,#workouts,#logworkout {
    margin-top: 25px;
    margin-bottom: 20px;
    color: white; 
    background-color: rgb(104,183,76);
    padding: 20px;
    border-radius: 5px;
    height: 600px;
}
.recent-workout-column {
    text-align: center;
}
.nav-link {
    color: white;
}
.nav-item {
    color: white;
}
p {
    padding: 0px;
    margin: 0px;
}
.dropdown {
    margin-bottom: 15px;
    /* margin-left: 5px; */
    margin-right: 10px;
    color: white; 
    background-color: rgb(39,79,114);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.div-wod-score {
    margin-left: 5px;
    margin-right: 5px;
    color: white; 
    background-color: rgb(39,79,114);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.wod-score-title {
    color: white; 
    background-color: rgb(39,79,114);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.wod-score-input {
    color:rgb(39,79,114);
    background-color: white;
    border-radius: 5px;
    width: 35%;
    margin-left: 5px;
    margin-right: 5px;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border-color: white;
    background-color: rgb(39,79,114);
}
.log-workouts {
    color: white; 
    background-color: rgb(104,183,76);
    border-radius: 5px;
}
.submit-movement {
    background-color: rgb(39,79,114);
    border-radius: 5px;
    padding: 2px;
    border-color: white;
    color: white; 
    margin-top: 10px;
  } 
.row {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}
.datepicker {
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
}
.login {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(104,183,76);
    border-radius: 5px;
    border-color: white;
    color: white; 
}  
table, tbody, thead {
    width: 100%;
}
th {
    color: white;
    background-color:rgb(39,79,114);
    padding: 4px;
    font-size: 14px;
    text-align: center;
    margin: 10px;
    width: 2%;
}

td {
    color: white;
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    margin: 5px;
    width: 10%;
}
tr {
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    width: 100%;

}
 
.table-labels {
    color: rgb(39,79,114);
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
    margin-left: 5px;
}
.btn-submit {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(39,79,114);
    border-radius: 5px;
    border-color: white;
    color: white; 
    padding: 4px;
  }
  .datepicker {
    border-radius: 5px;
    margin-left: 10px;
    width: 15%;
    background-image: url(https://img.icons8.com/ios-filled/50/ffffff/calendar.png);
}

  