.form-control {
  width: 35%;
  margin: 10px 5px;
}
.custom-select {
  margin-bottom: 10px;
}
.submit {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(104,183,76);
  border-radius: 5px;
  border-color: white;
  color: white; 
}  
.logscore {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(39,79,114);
  border-radius: 5px;
  border-color: white;
  color: white; 
}  