.col {
    padding-left: 20px;
    padding-right: 20px;
    color: white
}
.row {
    color: white;
    border-bottom: gray;
}
.container{
    background-color: rgb(39,79,114);
    margin-bottom:25px;
    margin-top:25px;
    border-radius: 5px;
}
.containerlogin {
    margin-bottom:25px;
    margin-top:25px;
    background-color: rgb(39,79,114);
    border-radius: 5px;
}